form {
  /* display: flex;
  padding: 20px 0px; */
}
.wrapper {
  min-height: 100vh;
  overflow-x: hidden;
  /* justify-content: center; */
  /* align-items: center; */
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="4" height="4" viewBox="0 0 4 4"%3E%3Cpath fill="%239C92AC" fill-opacity="0.4" d="M1 3h1v1H1V3zm2-2h1v1H3V1z"%3E%3C/path%3E%3C/svg%3E');
}
.input {
  margin-right: 30px;
}
.frame {
  /* max-width: 800px; */
  width: 100vw;
}
.button1 {
  background-color: #008cba;
} /* Blue */
.button2 {
  background-color: #f44336;
} /* Red */
.button3 {
  background-color: #4caf50;
} /* Green */

.header {
  display: flex;
  /* text-align: center; */
  align-items: center;
  height: 90px;
  background-color: #fff;
  border-bottom: 1px solid #e1e4e8;
  position: sticky;
  top: 0px;
}

.list-wrapper > ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-gap: 1rem;
  list-style: none;
  padding: 0px;
}

.header-content > ul {
  display: grid;
  grid-template-columns: 2fr 1fr;
  /* grid-gap: 1rem; */
  list-style: none;
  padding: 0px;
}

.list-wrapper > ul > li {
  border-radius: 0.5rem;
  background: #ffffff;
  border: 1px solid #d1d5da;
  list-style: none;
}
.list-item {
  padding: 1rem;
}
.header-content {
  display: flex;
  width: 100%;
}

.header-text {
  margin: 0px 40px 0px;
  font-weight: 600;
  font-size: 1.6em;
  line-height: 24px;
  letter-spacing: 2px;
  /* Text/text-gray-dark */
  color: #292b2e;
}
.header-action-container {
  position: absolute;
  top: 20px;
  right: 0px;
  display: inline-flex;
}
.primary-button {
  background: #2091f9;
  border-radius: 5px;
  height: 50px;
  outline: none;
  border: none;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.2px;
  /* light-text-color */
  color: #ffffff;
  padding: 10px;
}
.primary-button {
  background: #2091f9;
  border-radius: 5px;
  height: 50px;
  outline: none;
  border: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.2px;
  /* light-text-color */
  color: #ffffff;
  padding: 10px;
  margin-right: 20px;
  min-width: 100px;
}
.secondary-button {
  background: #fff;
  border-radius: 5px;
  height: 50px;
  outline: none;
  border: 2px solid #2091f9;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.2px;
  /* light-text-color */
  color: #2091f9;
  padding: 10px;
  margin-right: 20px;
  min-width: 100px;
}
.tertiary-button {
  background: #fff;
  border-radius: 5px;
  height: 50px;
  outline: none;
  border: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.2px;
  /* light-text-color */
  color: #2091f9;
  /* padding: 10px; */
  margin-right: 20px;
  /* min-width: 100px; */
}
.search-section {
  background-color: #fff;
  padding: 20px 40px;
}
.main-section {
  background-color: #fff;
  padding: 40px;
  height: Calc(100vh - 90px);
}

.img-icon {
  height: 16px;
  width: auto;
  margin: 0px 5px -2px;
}

.input-date {
  background: #f9f9f9;
  border: 1px solid #e6e6e6;
  box-sizing: border-box;
  border-radius: 5px;
  height: 50px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 28px;
  /* identical to box height, or 200% */

  letter-spacing: 0.2px;
  color: #737373;
  padding: 10px 15px;
  margin-right: 20px;
  /* second-text-color */
}
.input-text {
  background: #f9f9f9;
  border: 1px solid #e6e6e6;
  box-sizing: border-box;
  border-radius: 5px;
  height: 50px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 28px;
  /* identical to box height, or 200% */

  letter-spacing: 0.2px;
  color: #737373;
  padding: 10px 15px;
  margin-right: 20px;
  /* second-text-color */
}
.input-container {
  margin: 15px 0px;
}

.modal-title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;

  letter-spacing: 0.1px;

  /* text-color */

  color: #252b42;
}
.modal-sub-title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;

  letter-spacing: 0.2px;

  color: #858585;
}

.card-title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
}

.card-date {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #737373;
}
.list-item > table {
  width: 100%;
}
.list-item > tr > td {
}

.add-todo-section {
  background: #dbedff;
  border: 1px solid #ebebeb;
  box-sizing: border-box;
  display: none;
  position: fixed;
  bottom: 0px;
  width: 100%;
  padding: 20px;
  text-align: center;
  color: #2091f9;
  font-weight: 700;
}

@media (max-width: 768px) {
  .add-todo-section {
    display: block;
  }
  .only-desktop {
    display: none;
  }
  .list-item {
    /* padding: 0.4rem; */
  }
  .main-section {
    padding: 20px 0px;
  }
  .list-wrapper > ul {
    grid-gap: 0rem;
  }
  .list-wrapper > ul > li {
    border-radius: 0px;
  }
  .header-text {
    margin: 5px;
  }
  .primary-button {
    margin-right: 3px;
  }
}

/* input[type="date"]::before {
  content: attr(placeholder);
} */
