form {
  display: flex;
  padding: 20px;
}
.wrapper {
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="4" height="4" viewBox="0 0 4 4"%3E%3Cpath fill="%239C92AC" fill-opacity="0.4" d="M1 3h1v1H1V3zm2-2h1v1H3V1z"%3E%3C/path%3E%3C/svg%3E');
}
.input {
  margin-right: 30px;
}
.frame {
  width: 100vw;
  max-width: 800px;
}
.button1 {background-color: #008CBA;} /* Blue */
.button2 {background-color: #f44336;} /* Red */
.button3 {background-color: #4CAF50;} /* Green */

.header {
  display: inline;
  text-align: center;
}
.list-wrapper {
  max-height: 500px;
  overflow-y: auto;
}